@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/ngDialog.min.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />

    <script src="~/scripts/jquery-1.9.1.min.js"></script>
    <script src="~/scripts/angular.min.js"></script>
    <script src="~/scripts/ngDialog.min.js"></script>
    <script src="~/scripts/moment.min.js"></script>
    <script src="~/scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/underscore.min.js"></script>

    <script src="~/scripts/app/config.js"></script>
    <script src="~/scripts/app/controllers/contactController.js"></script>
    <script src="~/scripts/app/directives/timeAgo.js"></script>
    <script src="~/scripts/app/services/contactService.js"></script>
    <script src="~/scripts/app/services/dialogService.js"></script>
    <script src="~/scripts/app/dialogs/contactDetailsView.js"></script>
</head>
<body ng-app="contactApp">
    <div ng-controller="contactController">
        <h3>{{title}}</h3>

        <div>
            Search<input type="text" ng-model="pagingInfo.search" placeholder="Search...">
            <input type="button" ng-click="searchContact()" class="btn btn-primary" value="Search" />


            <table class="table">
                <thead>
                    <tr>
                        <th><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" /></th>
                        <th>
                            <a href="" ng-click="sort('Name')">Name <i class="glyphicon" ng-class="getSortIcon('Name')"></i></a>
                        </th>
                        <th><a href="" ng-click="sort('Email')">Email <i class="glyphicon" ng-class="getSortIcon('Email')"></i></a></th>
                        <th><a href="" ng-click="sort('Phone')">Phone <i class="glyphicon" ng-class="getSortIcon('Phone')"></i></a></th>
                        <th><a href="" ng-click="sort('Address')">Address <i class="glyphicon" ng-class="getSortIcon('Address')"></i></a></th>
                        <th><a href="" ng-click="sort('CreatedDate')">CreatedDate <i class="glyphicon" ng-class="getSortIcon('CreatedDate')"></i></a></th>
                        <th><a href="" ng-click="sort('ModifiedDate')">ModifiedDate <i class="glyphicon" ng-class="getSortIcon('ModifiedDate')"></i></a></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td><input type="text" ng-model="filterText.name" placeholder="filter name"/></td>
                        <td><input type="text" ng-model="filterText.email" placeholder="filter email"/></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr ng-repeat="item in contacts | filter:filterText">
                        <td><input type="checkbox" ng-model="item.selected" /> </td>
                        <td>{{item.name}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.phone}}</td>
                        <td>{{item.address}}</td>
                        <td><span time-ago={{item.createdDate}} /></td>
                        <td><span time-ago={{item.modifiedDate}} /></td>
                        <td><input type="button" class="btn btn-primary" ng-click="editContact(item.id)" value="Edit" /></td>
                    </tr>
                </tbody>
            </table>

            <uib-pagination total-items="pagingInfo.totalItems" ng-model="pagingInfo.page" items-per-page="pagingInfo.itemsPerPage" max-size="4" class="pagination-sm" boundary-link-numbers="true" rotate="false" ng-change="pageChanged(page)"></uib-pagination>

            <br />
            <input type="button" class="btn btn-primary" value="Create" ng-click="createContact()" />
            <input type="button" class="btn btn-primary" value="Delete" ng-click="deleteContact()" ng-disabled="!selectedAny" />
        </div>
    </div>
</body>
</html>
